@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Heebo:wght@100;300;400;700;800;900&family=Lato:wght@700&display=swap');
body{

}
.header{
margin-bottom: 200px;
margin-right: 160px;
}
li {
    list-style-type: none; 
}

.bold{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}

.navigate{
    height: 103px;
    align-items: center;
    margin-top: 30px;
    position: relative;
    
}

.logo{
    width: 103px;
    height: 103px;
    padding: 0%;
    position: absolute;
    top:10px;
    left:158px;
}

.item{
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.active{

    font-weight: 800;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.padding-right{
    padding-right: 88px;
}

.padding-right-last{
    padding-right: 118px;
}

.frame{
    width: 32px;
    height: 34px;
    position: relative;
    right: 51px;
    bottom: 3px;
}
.home{
    margin-left: 160px;
    margin-bottom: 200px;
}
.row{
    flex-wrap: nowrap;
    
}
.h-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;
}
.h-content h3 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}
.none-bold{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}
.h-content h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    
    color: #000000;
}
.h-content h6{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 70px;
    


    color: #000000;

}
.img-content{
    display: flex;
    justify-content: center;
    align-items:center;
}
.home-img{
    width: 560px;
    height: 733px;
}
.info{

    width: 304px;
    height: 34px;

    display: flex;
    justify-content: space-between;
}
.projects{
    margin-left: 160px;
    margin-bottom: 400px;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.disc{
    margin-bottom: 100px;
    font-family: 'Heebo';
    color: #000000;
}
.h1-projects{
    
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 125px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.h3-projects{
    font-weight: 400;
    font-size: 31px;
    line-height: 46px;
}

.h4-projects{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}
.h5-projects{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}
.btn{
    width: 300px;
    height: 47px;
    border: 2px solid #000000;
    
}
.see_it_live{
    margin-right: 10px;
}
.information_div{
    margin-left: 160px;
    margin-bottom: 65px;
}
.cpntainer_nowrap{
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
    margin-right: 350px;
}
.inf_text{
    width: 788px;
    height: 752px;
    display: flex;
    flex-wrap: wrap;

}
.inf_photo{
    width: 626px;
    height: 680px;
    position: relative;
    top: -35px;
}
.h4-about_me{

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
    
}
.h5-about_me{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    color: #000000;
}

.desc_dev{
    width: auto;
    height: 388px;
    margin-right: 350px;
    
}
.tools{
    margin-bottom: 30px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
    /* identical to box height */


    color: #000000;
}
.tools_dev{
    width: 500px;
    height: 378px;
    display: flex;
   
}
.cre_des_title{
    margin-bottom: 20px;
}
.development_title{
    margin-bottom: 20px;
}
.cr_de{
    width: 315px;
    height: 300px;
    
}
.cr_de_list{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */


    color: #000000;
}
.development{
    width: 800px;
    height: 300px;
}
.div_list{
    width: 800px;
    display: flex;
    flex-wrap: nowrap;
    margin-right: 350px;
}
.dev_list{
    
    margin-right: 50px;
    

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */


    color: #000000;
}
.quote{
    width: 626px;
    height: 380px;
    margin-left: 280px;
    
}
.quote_text{
    width: 626px;
    height: 380px;
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    text-align: right;

    color: #000000;
}
.sign{
    display: flex;
    justify-content: flex-end;
    
}